<!-- index.html.erb -->

<h1> Welcome to Heroku! </h1>
<!-- if use below then also have to -->
<!-- config->environments->production.rb change to config.assets.compile = true -->
<!-- <img src="/assets/unicorn.gif"> -->

<%= image_tag "unicorn.gif" %>