<!-- show.html.erb -->
<h1> Results </h1>
<div class="results-page">
	<h2> You selected <%= @activity_name %> in <%= @area_name %> </h2>
</div>



<button>
          <a class="button-result" href="/">
    
    No, Go Back</a>
  </button>

  <button>
    
    
    Yes! Show me my results!</a>
  </button>